<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input />
</div>

<div>
  <label>Use Numbers</label>
  <input type ='checkbox' (click)="onUseNumberCheck()" />
</div>

<div>
  <label>Use Letters</label>
  <input type ='checkbox' (click)="onUseLettersCheck()" />
</div>

<div>
  <label>Use Symbols</label>
  <input type ='checkbox' (click)="onUseSymbolsCheck()" />
</div>

<div>
  <button (click)="onButtonClick()">GENERATE</button>
</div>

<div>
  <label>Your Password</label>
  <input [value] = "getPassword()" />
</div>